body {
    margin: 0;
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.form {
    
}

.inputField {
    width: 100%;
}

.inputField__label {
    font-size: var(--font-size-md);
}
.inputField__input {
    background-color: black;
    width: 100%;
    font-size: var(--font-size-md);
    color: white;
}

.inputField__input_error {
    background-color: red;
}

.inputField__message {

}

.inputField__message_error{
    color: red;
}

.button {
    min-height: 60px;
    width: 100%;
    background-color: black;
    color: white;
    font-size: var(--font-size-md);
}
