:root {
    --margin-sm: 10px;
    --margin-md: 20px;
    --margin-lg: 30px;

    --padding-sm: 10px;
    --padding-md: 20px;
    --padding-lg: 30px;

    --font-size-sm: 1em;
    --font-size-md: 2em;
    --font-size-lg: 3em;

}
