.main {
    background: url("./bg.png") no-repeat center center fixed;
    background-size: cover;
    min-height: 500px;
    margin: var(--margin-md) 0px;
    padding: var(--padding-lg);
}

.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    min-height: 500px;
}

.content_off{
    display: none;
}


.content__item {
    flex: 1;
    margin: var(--margin-md);
    padding: var(--padding-md);
    background-color: white; opacity: 0.5;
    min-height: 300px;
}
